body{
  font-family: 'Opens sans';
  background-color: rgb(229, 229, 229) !important;
}
.bg-grey{
  background-color: grey;
}
.wid{
  width:40vw!important;
}

.fs-2{
  font-size: 20px !important;
}
.nav-link{
  color:black !important
}
.f-2{
  font-size: 10px;
  /* border:1px solid black; */
}
.m0{
  margin: 0rem ;
  padding: 0px;
}
.wd-100 {
  height:100vh;
}
.bg-greylt{
  background-color: lightgray;
}
.bg-lt{
  background-color: rgb(229, 229, 229);
}
.wd-80{
  height:100% !important;
}
.hd-80{
  width:80% !important;
}
.f-15{
  font-size: 15px;
}
.row{
  margin-left: 0rem !important;
  margin-right:0rem !important;
}
/* th,td,tr,tbody,thead,table{
  padding:0rem !important;
  margin:0rem !important;
} */
.txt-red{
  color:red;
}
.txt-green{
  color:rgb(14, 141, 101);
}
